{% extends 'base.html' %}

{% block main %}

<div class="w-100 h-100">
    <div class="w-100 h-100">
      <div class="row d-flex justify-content-center align-items-center ">
        <div class="col-md-8 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>

        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <p class="text-center h1 fw-bold">Log In</p>

          <form method="post" action="{% url 'signin' %}" class="mb-2">
            {% csrf_token %}
            
            {% comment %} This is for showing the msg like succeful and errors. {% endcomment %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                <strong>Message:</strong> {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}

            <div class="form-group">
                <label for="username">Username</label>
                <br>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter Your Username" Required>
            </div>

            <div class="form-group">
                <label for="pass1">Password</label>
                <br>
                <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Enter Your Password" Required>
            </div>
    
            <button type="submit" class="btn btn-primary">Log In</button>

            <p class="small fw-bold mt-2 pt-1 mb-0"> Don't have an account?
              <a href='{% url 'signup' %}' class="link-danger">Register</a></p> 

          </form> 
        </div>
      </div>
    </div>    
  </div>
  <footer>
    <div class="d-flex text-white flex-column flex-md-row text-center text-md-start justify-content-between py-1 px-1 px-xl-2 bg-primary">
      <!-- Copyright -->
      <div>
        Copyright © 2023. All rights reserved.
      </div>
      <!-- Copyright -->
    </div>
  </footer>
{% endblock main %}         
